
@import 'pixel-retroui/dist/index.css';
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Pixelify Sans";
    src: url('../assets/PixelifySans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  } 
  
   
  



