@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import 'pixel-retroui/dist/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


.font-pixel {
  font-family: "Press Start 2P", cursive;
}

.shadow-pixel {
  box-shadow: 
    0 0 0 2px rgba(74, 18, 55, 1), /* Main border */
    0 0 0 4px rgba(30, 52, 69, 1); /* Additional shadow for pixelated effect */
}

.header-text {
  text-shadow: 1px 1px 0 #4A1237, -1px -1px 0 #4A1237, 1px -1px 0 #4A1237, -1px 1px 0 #4A1237;
  -webkit-text-stroke: 1px #4A1237;
}

